@page "/booking"

<MudContainer MaxWidth="MaxWidth.Large">
    <MudGrid>
        <MudItem xs="6">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h5">Kid Play Area</MudText>
                    <MudText><br><p><b>Description:</b> This indoor facility is designed for children's entertainment, featuring a playpen, slides, and other play equipment. Each floor includes a dedicated dining area to cater to the needs of children and their guardians.</p></MudText>
                    <MudText><br><p><b>Floors:</b> Available on all three floors.</p> </MudText>
                    <MudText><br><p><b>Provides Catering:</b> Dining area included.</p></MudText>
                    <MudText><br><p><b>Capacity:</b> 50 children</p></MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="6">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h5">Big Family Event</MudText>
                    <MudText><br><p><b>Description:</b> These spacious halls are ideal for family gatherings and large events. They provide ample space for various setups, including dining and entertainment. Catering services can be arranged as needed.</p></MudText>
                    <MudText><br><p><b>Floors:</b> One family event hall on each floor.</p></MudText>
                    <MudText><br><p><b>Provides Catering:</b> Available upon request.</p></MudText>
                    <MudText><br><p><b>Capacity:</b> Designed to accommodate large family events, with flexible seating arrangements.</p></MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="6">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h5">Themed Kids Party</MudText>
                    <MudText><br><p><b>Description:</b> These halls are perfect for themed children's parties, offering customizable decorations and activities to match various themes. Catering services are available upon request.</p></MudText>
                    <MudText><br><p><b>Floors:</b> One themed party hall on each floor.</p> </MudText>
                    <MudText><br><p><b>Provides Catering: </b> Available upon request.</p></MudText>
                    <MudText><br><p><b>Capacity:</b> 150 people</p></MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>


        <MudItem xs="12" Class="mt-4">
            <div style="display: flex; justify-content: center;">
                <MudButton Variant="Variant.Filled" Color="Color.Primary">Book Now</MudButton>
            </div>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {

}
