@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" Align="Align.Center">BetterLife</MudText>
<MudGrid> 
	<MudItem xs="6">
		<MudCard>
			<MudCardContent>
				<MudText Typo="Typo.h4" Align=" Align.Center">About Us</MudText>
				<MudText>Welcome to BetterLife, where we specialize in creating memorable parties and events. Our mission is to provide exceptional spaces and services to make your celebrations unforgettable. With a focus on customer satisfaction, we offer a seamless booking experience and top-notch facilities to cater to all your event needs. We understand that every event is unique, and our dedicated team is committed to ensuring that your special occasion is seamless and enjoyable. From the initial planning stages to the day of the event</MudText>
				
		   </MudCardContent>
		</MudCard>
	</MudItem>
	<MudItem xs="6">
		<MudImage Src="GroundPlay.jpg" Width="512" Height="341" Class="rounded-lg ma-4"></MudImage>
	</MudItem>

	<MudItem>
		<MudImage Src="catering.webp" Width="512" Height="341" Class="rounded-lg ma-4"></MudImage>
	</MudItem>

		<MudItem xs="6">
		<MudCard>
			<MudCardContent>
				<MudText Typo="Typo.h4" Align="Align.Center">Avenue</MudText>
				<MudText>
					<br/>Our venue spans three beautifully designed floors, each offering a range of spaces to suit various event needs:<br />
					<br /><p><b>Kid Play Areas:</b> Each floor features a safe and fun indoor play space with a kid’s play pen, slides,and a dedicated dining area. Perfect for children’s parties, our play areas provide endless entertainment for little ones.</p>
					<br /><p><b>Themed Kids Party Halls:</b> Our themed party halls, available on each floor, create a magical atmosphere for kids’ celebrations. These halls come with optional catering services, making party planning easy and convenient.</p>
					<br /><p><b>Big Family Event Halls:</b> Ideal for large family gatherings, our spacious event halls are equipped to host significant events such as reunions, anniversaries, and milestone celebrations. Catering services can be added to any booking, ensuring your guests enjoy delicious meals during the event.</p>
				</MudText>
			</MudCardContent>
		</MudCard>
		</MudItem>

		<MudItem xs="6">
			<MudCard>
				<MudCardContent>
					<MudText Typo="Typo.h4"Align="Align.Center">Events</MudText>
					<MudText>
					<br /><p>At BetterLife, we cater to a wide variety of events:</p>
					<br /><p><b>Children's Parties:</b> Our themed party halls and kid play areas are perfect for creating magical and memorable birthday parties and celebrations for children. We provide all the amenities needed to ensure a fun and stress-free event.</p>
					<br /><p><b>Family Gatherings:</b> Whether it's a family reunion, anniversary celebration, or any large family event, our big family event halls offer the perfect space to bring everyone together. With optional catering services, your event will be both convenient and enjoyable.</p>
					<br /><p><b>Custom Events:</b> From corporate gatherings to holiday parties, our flexible spaces can be customized to meet the specific needs of your event. Our team will work with you to create a tailored experience that exceeds your expectations.</p>
					</MudText>
				</MudCardContent>
			</MudCard>
		</MudItem>
		<MudItem xs="6">
		<MudImage Src="activity.jpg" Width="512" Height="341" Class="rounded-lg ma-4"></MudImage>
		</MudItem>
</MudGrid>